{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles
{% endblock %}

{% block body %}

    {% if articles %}
        <table class="table table-striped">
            <thread>
                <tr>
                    <th>Article Title</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="/article/{{ article.id }}" class="btn btn-dark">Show</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </tbody>
    </table>
{% else %}
    <p>No articles to display</p>
{% endif %}{% endblock %}
